body {
    margin: 25px;
}

header {
    background-color: yellow;
    color: blue;
}

header img {
    height: 100px;
}

footer {
    color: white;
    background-color: blue;
    margin: 10px;
    padding: 10px;
}